.main {
  display: flex;
  min-height: 100vh;
  background-color: rgb(249 249 249);
  overflow: hidden;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  height: 100%;
  font-weight: bold;
}
.right {
  flex: 0.5;
  display: flex;
  justify-content: center;
}

.rectangle {
  position: absolute;
  background-color: #ff0000;
  opacity: 0.3;
  border: 3px solid #ff0000;
}
.rectangleTele {
  position: absolute;
  background-color: #5cca74;
  opacity: 0.3;
  border: 3px solid #0d8a28;
}
.name {
  font-size: large;
  cursor: pointer;
  padding: 1em;
  border: 2px solid #e1e2e7;
  margin-right: 22px;
  background-color: rgb(240 160 108);
}
.name input {
  margin-top: 2em;
}
.tele input {
  margin-top: 2em;
}
.boxesitem {
  display: flex;
  justify-content: space-evenly;
}
.label {
  margin: 2em;
}
.boxes {
  margin: 2em;
}
.tele {
  font-size: large;
  cursor: pointer;
  padding: 1em;
  border: 2px solid #e1e2e7;

  background-color: rgb(172 206 150);
}
